@import "../../../styles.scss";

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--height-nav);
  z-index: 4;
  background-color: white;

  .navbar {
    width: 95vw;
    height: inherit;
    margin: 0px 30px;
    display: inline-flex;
    align-items: center;
    img {
      width: 200px;
    }

    .buttons {
      display: inline-flex;
      justify-content: space-around;

      a {
        width: 250px;
        height: 40px;
        transition: all 1s ease;

        li {
          display: none;
        }
      }

      .button-home,
      .button-benefits {
        color: black;

        &:hover {
          background-color: black;
          color: white;
        }
      }

      .button-login {
        border: 1px solid $primary;
        color: $primary;
        background-color: transparent;
        &:hover {
          background-color: #2aa7df;
          color: white;
        }
      }

      .button-tech {
        border: 1px solid #a3cc39;
        color: #a3cc39;
        background-color: transparent;
        &:hover {
          background-color: #a3cc39;
          color: white;
        }
      }
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;

  .flex-item {
    width: 100%;
  }

  .flex-item:nth-child(1) {
    height: 100vh;
  }

  .flex-item:nth-child(2) {
    height: auto;
  }

  .flex-item:nth-child(3) {
    height: auto;
  }

  .flex-item:nth-child(4) {
    height: 50vh;
  }
}

.section-welcome,
.section-woloxers {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-welcome {
  background: url("../../../assets/Backgrounds/Bg_Header@2x.png");
  background-size: 100% auto;
  .image {
    width: 100%;
    height: auto;
    transform: scaleX(-1);

    img {
      width: 600px;
    }

    .hero {
      display: none;
    }
  }

  .image {
    align-content: space-around;
  }

  .label {
    display: inline-flex;
    padding-left: 50px;
    height: inherit;
    width: auto;

    div {
      h2 {
        font-weight: 500;
        span {
          font-weight: bold;
        }
      }
    }
  }
}

.section-woloxers {
  .image {
    width: 100%;
    height: auto;
    position: relative;

    img {
      width: inherit;
    }

    .content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .woloxers {
        margin-top: 10px;
      }

      .grid-twitter {
        display: inline-flex;
        flex-flow: row nowrap;
        span {
          color: white;
        }
      }
    }
  }

  .label {
    display: inline-flex;
    text-align: center;
    background-color:#f2f5fa;
    height: inherit;
    width: auto;

    div {
      h2 {
        padding: 0  60px;
        font-weight: 500;
        span {
          font-weight: 700;
        }
      }
    }
  }
}

.section-benefits {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  padding: 50px 0px;

  .benefits-label {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h3 {
      margin: 0px 20px;
      font-weight: normal;
    }
  }

  .benefits {
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;

    .benefit {
      min-width: 100px;
      max-width: 180px;
      height: 150px;
      margin: 50px;
      text-align: center;

      div {
        height: 120px;
        img {
          width: 120px;
        }
      }

      p {
        font-weight: 700;
      }
    }
  }
}

.footer {
  background: url("../../../assets/Backgrounds/Bg_Footer.png");
  background-size: 100% auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  text-align: center;
  padding: 50px 20px 20px;

  .text {
    h2 {
      margin-top: 0;
    }
  }

  .footer-image {
    align-items: center;
    bottom: 0;
  }
}

.primary {
  color: #2aa7df;
}

.secondary {
  color: #a3cc39;
}

//Button
a {
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 240px;
  font-family: "Montserrat";
  span {
    font-weight: 700;
  }
}

.button-animated {
  &:hover {
    animation: rotate 0.7s ease-in-out both;
    span {
      animation: storm 0.7s ease-in-out both;
      animation-delay: 0.1s;
    }
  }
}

.learn-more {
  background-color: $primary;
  border: 1px solid $primary;

  span {
    color: white;
    font-size: 18px;
  }
}

.follow {
  background-color: transparent;
  border: 2px solid $primary;
  height: 50px;
  width: 272px;

  span {
    color: white;
    font-size: 18px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media only screen and (min-width: 1280px) {
}

@media screen and (max-width: 1279px) {
  .section-woloxers {
    flex-flow: column nowrap;
  }

  .section-welcome {
    padding-top: calc(var(--height-nav) + 50px);
    flex-flow: column nowrap;
    height: auto;
  }

  .flex-item:nth-child(1) {
    height: auto;
  }

  section {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .section-welcome {
    height: auto;
    .image {
      img {
        width: 60%;
        height: auto;
      }

      .hero {
        display: initial;
      }

      .hero-3x {
        display: none;
      }
    }

    .label {
      min-height: 100px;
      padding-left: 20px;
    }
  }

  .section-woloxers {
    .image {
      .content {
        .woloxers {
          margin: 10px 0px;
        }

        .grid-twitter {
          height: 50px;
          svg {
            width: 40px;
          }
          span {
            font-size: var(--fs8);
          }
        }
        .follow {
          width: 189px;
          height: 35px;

          span {
            font-size: var(--fs12);
          }
        }
      }
    }
  }

  .section-benefits {
    .benefits {
      .benefit {
        min-width: 80px;
        margin: 10px;
        height: auto;

        div {
          height: 70px;

          img {
            width: 70px;
          }
        }
      }
    }
  }

  .learn-more {
    width: 189px;
    height: 35px;

    span {
      font-size: var(--fs12);
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    justify-content: space-around;
    margin-left: 20px !important;
    img {
      width: 100px !important;
    }

    .spacer {
      display: none;
    }

    .buttons a {
      width: 50px !important;
      li {
        display: initial !important;
      }
      span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .section-welcome {
    padding-top: 0px;
  }
}
