<nav>
  <div class="navbar">
    <img src="assets/logo_full_color.svg" alt="">
    <span class="spacer"></span>
    <div class="buttons">
      <a class="button-home" href="landing#home">
        <li class="material-icons">home</li>
        <span>Inicio</span>
      </a>
      <a class="button-benefits" href="landing#benefits">
        <li class="material-icons">computer</li>
        <span>Benenificios</span>
      </a>
      <a class="button-login" routerLink="/register" *ngIf="!isLogged">
        <li class="material-icons">account_circle</li>
        <span>Registrarse</span>
      </a>
      <a class="button-tech" routerLink="/list" *ngIf="isLogged">
        <li class="material-icons">android</li>
        <span>Tecnologías</span>
      </a>
    </div>
  </div>
</nav>
<div class="flex-container">
  <section class="flex-item section-welcome" id="home">
    <div class="label">
      <div>
        <h2>Bienvenido a tu <b>Entrevista Técnica</b> en <span class="secondary">Wolox</span> </h2>
      </div>
    </div>
    <div class="image">
      <img class="hero-3x" src="assets/Img Hero/Ic_ilustra_Hero@3x.png">
      <img class="hero" src="assets/Img Hero/Ic_ilustra_Hero.png">
    </div>
  </section>
  <section class="flex-item section-woloxers">
    <div class="image">
      <img src="assets/img_woloxer@3x.png">
      <div class="content">
        <h2 class="woloxers">
          <span class="secondary">350 + </span>
          <span class="primary">Woloxers</span>
        </h2>
        <div class="grid-twitter">
          <svg id="twitter-logo" height="80" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
            <rect width="400" height="400" fill="none" />
            <path
              d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
              fill="#fff" />
          </svg>
          <span>@Wolox</span>
        </div>
        <a class="follow button-animated" href="https://twitter.com/Wolox" target="_blank"> <span>Síguenos</span> </a>
      </div>
    </div>
    <div class="label">
      <div>
        <h2>Trabajamos para <span class="primary">convertir</span> <span class="secondary"> ideas</span> en productos
        </h2>
      </div>
    </div>
  </section>
  <section id="benefits" class="flex-item section-benefits">
    <div class="benefits-label">
      <h3>Entre los beneficios que ofrecemos se encuentran <span class="primary">;)</span></h3>
    </div>
    <div class="benefits">
      <div class="benefit">
        <div>
          <img src="assets/Ic_Hour.svg" alt="">
        </div>
        <p>Flexibilidad Horaria</p>
      </div>
      <div class="benefit">
        <div>
          <img src="assets/Ic_HomeOffice.svg" alt="">
        </div>
        <p>Home Office</p>
      </div>
      <div class="benefit">
        <div>
          <img src="assets/Ic_Workshops.svg" alt="">
        </div>
        <p>Capacitaciones y workshops</p>
      </div>
      <div class="benefit">
        <div>
          <img src="assets/Ic_DrinkSnacks.svg" alt="">
        </div>
        <p>Snacks, frutas y bebidas gratis</p>
      </div>
      <div class="benefit">
        <div>
          <img src="assets/Ic_laptop.svg" alt="">
        </div>
        <p>Semana Remota</p>
      </div>
      <div class="benefit">
        <div>
          <img src="assets/Ic_brain.svg" alt="">
        </div>
        <p>Trabajar en últimas tecnologías</p>
      </div>
    </div>
  </section>
  <footer class="flex-item footer">
    <div class="text">
      <h2> Gracias por <span class="primary">completar el ejercicio </span></h2>
      <h3>Te invitamos a ver más información</h3>
      <div align="center">
        <a class="learn-more button-animated" href="https://www.wolox.com.ar" target="_blank"> <span>Conocer más</span>
        </a>
      </div>
    </div>

    <div class="footer-image">
      <img src="assets/Ic_Wolox_Footer.svg" alt="">
    </div>
  </footer>
</div>
