@import "../../../styles";

$primary: #0273e8;

.main {
  // padding: 4%;
  background: url("../../../assets/Backgrounds/Bg_Header.png");
  background-size: 100% auto;
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    width: 90%;
    height: auto;
    background-color: #f2f5fa;
    padding: 50px;
    border-radius: 10px;

    .title {
      display: flex;
      flex-flow: row wrap;

      img {
        width: 200px;
        cursor: pointer;
        margin-right: 25px;

        &:focus {
          outline: none;
        }
      }

      h3 {
        font-weight: 500;
      }
    }

    h2 {
      font-weight: 500;
    }

    .note {
      text-align: end;
      font-size: var(--fs12);
    }
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  div {
    width: 40%;
    margin: 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;

    input[type="text"] {
      width: 80%;
      padding: 12px 8px;
      box-sizing: border-box;
    }
  }
}

// CSS Input

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;

  span {
    color: red;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    font-size: var(--fs12);
  }
}

.form__field {
  font-family: inherit;
  width: 85%;
  border: 0;
  border-bottom: 2px solid $black;
  outline: 0;
  font-size: var(--fs16);
  color: $primary;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: var(--fs16);
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: var(--fs16);
  color: $black;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: var(--fs16);
    color: $primary;
    font-weight: normal;
  }
  padding-bottom: 6px;
  font-weight: normal;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

// CSS Button

button {
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border: 2px solid $primary;
  height: 45px;
  width: 240px;
  font-family: "Montserrat";
  transition: all 1s ease;
  span {
    font-weight: bold;
    font-size: var(--fs16);
    color: $primary;
  }

  &:hover {
    background-color: $primary;
    span {
      color: white;
    }
  }
  &:focus {
    box-shadow: none;
  }
  &:disabled {
    background-color: initial;
    border-color: gray;
    cursor: default;

    span {
      color: gray;
    }
  }
}

span:nth-child(1) {
  color: #2aa7df;
}

span:nth-child(2) {
  color: #91c603;
}

@media screen and (max-width: 768px) {
  .main {
    height: auto;
    .form {
      padding: 25px;

      .note {
        font-size: 8px;
      }
    }
  }

  .flex-container {
    flex-direction: column;

    div {
      margin: 15px 5px 5px;
      width: 100%;

      input[type="text"] {
        width: 100%;
      }
    }
  }

  .form__field,
  .form__label {
    font-size: var(--fs12);
  }

  .form__field {
    &:placeholder-shown ~ .form__label {
      font-size: var(--fs12);
    }
  }

  .form__field:focus {
    ~ .form__label {
      font-size: var(--fs12);
    }
  }

  .form__group {
    span {
      font-size: 6px;
    }

    a {
      font-size: var(--fs12);
    }
  }
}

@media screen and (max-width: 900px) {
  .form__group span {
    font-size: var(--fs8);
  }
}
