/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --fs60: 60px;
  --fs40: 40px;
  --fs32: 32px;
  --fs24: 24px;
  --fs20: 20px;
  --fs16: 16px;
  --fs14: 14px;
  --fs12: 12px;
  --fs8: 8px;
  --height-nav: 100px;
}

$primary: #2aa7df;
$secondary: #91bcf1;
$white: #fff;
$black: #000;

@media only screen and (min-width: 1280px) {
  h2 {
    font-size: var(--fs60);

    .text-medium {
      font-size: var(--fs24);
    }
  }

  h3 {
    font-size: var(--fs32);
  }
}

@media screen and (max-width: 1280px) {
  h2 {
    font-size: var(--fs32);
  }

  h3 {
    font-size: var(--fs20);
  }

  :root {
    --height-nav: 85px;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/Fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/Fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/Fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
