@import "../../../styles";

nav {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  .navbar {
    display: inline-flex;
    justify-content: flex-start;
    margin: 0px 20px 0px;
    width: 100%;

    img {
      width: 200px;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    h3 {
      margin-left: 25px;
      font-weight: 500;
    }

    .spacer {
      flex: 1 1 auto;
    }

    .count-fav {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      padding-right: 100px;
      width: 100%;

      div {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
      }
      .material-icons {
        color: red;
      }
    }
  }
}

.main {
  background: url("../../../assets/Backgrounds/Bg_Header.png");
  background-size: auto auto;
  background-repeat: repeat;
  padding: 120px 10px 0px 10px;
}

.tools {
  padding-left: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  a {
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 120px;
    font-family: "Montserrat";
    transition: all 1s ease;
    border: 2px solid black;
    margin-right: 15px;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  .order {
    li {
      opacity: 0.5;
    }
    &:hover {
      li {
        opacity: 1;
      }
    }
  }

  .form__group {
    position: relative;
    // flex-grow: 1;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $black;
    outline: 0;
    font-size: 14px;
    color: $black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 16px;
      color: $primary;
      font-weight: normal;
    }
    padding-bottom: 6px;
    font-weight: normal;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.flex-item {
  display: inline-block;
  margin: 20px;
  width: 290px;
  padding: 5px;
  height: auto;
  border: 1px solid #d0caca;
  border-radius: 5px;
  background-color: white;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;

    img {
      max-height: 150px;
    }
  }

  img {
    vertical-align: middle;
  }

  .info-item {
    // align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-top: 1px solid #d0caca;

    .grid-container {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      p {
        font-weight: bold;
        font-size: 20px;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        flex-grow: 2;
      }

      span {
        cursor: pointer;

        .fill {
          display: none;
        }
      }

      .fav {
        color: red;

        .fill {
          display: initial;
        }

        .border {
          display: none;
        }
      }
    }

    div {
      p {
        font-size: var(--fs12);
      }
    }
  }
}

.count-tech {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding-top: 10px;

    .count-fav {
      h3 {
        margin-left: 0;
      }

      .spacer {
        display: none;
      }
    }
  }

  .tools {
    padding: 0 0 0 25px;
    flex-direction: row;

    .order {
      width: 40px;
      span {
        display: none;
      }
    }
  }
}
